<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PizzaBox</title>

    <link href="/Content/PizzaBoxStyle.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <header>
            <h1>PizzaBox</h1>
        </header>
        <nav>
            <b><a href="Home">>Home</a> &nbsp; <a href="Menu">Menu</a> &nbsp; <a href="Order">Order</a> &nbsp; <a
                    href="Locations">Locations</a> &nbsp; <a href="History">History</a></b>
        </nav>
        <main>
            @RenderBody()
        </main>

        <footer>
            <small><i>Copyright &copy; 2021 Quatryle Johnson</i></small>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>